.container {
  width: 700px;
  height: 700px;
  margin-top: 18px;
  padding: 8px;
  
  
}

.input-group {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
  
  border-radius: 5px;
  border-width: 2px;
}

.chat-area {
  width: 680px;
  height: 500px;
  border-color: #BDD4ED;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  margin-top: 18px;
  padding: 0px;
  
}


.text-message {
  width: 355px;
  height:30px;
  border-color: rgb(186,215,236);
  color: black;
  padding-left: 8px;
  border-color: #BDD4ED;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
}










.btn {
  width: 140px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;
  
  margin: 5px 10px;
  padding: 10px 15px;
  border-radius: 1px;
  font-size: 15px;
  line-height: 15px;
  color: black;
  background: rgb(186,215,236);
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0px 2px 8px 2px rgb(186,215,236);
  transform: scale(1.05);
  background: blue;
}




.mess-client {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}

.mess-serv p {
  background-color: white;
  padding-left: 8px;
}

.chat-area {
  height:500px;
  overflow-y: scroll;
}

.chat-area p {
  display: inline-block;
  border-radius: 3px;
  border-style: solid;
  border-width: 5px;
  padding: 5px;
  border-color:#BDD4ED;
  margin-top: 18px;
  padding: 8px;
}

